# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

In [2]:
import pandas as pd

In [3]:
seguros_data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [4]:
seguros_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [5]:
# Your code here

seguros_data.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [6]:
seguros_data.rename(columns = {"Customer Lifetime Value": "Customer_Lifetime_Value", "Number of Open Complaints": "Number_of_Open_Complaints", "Customer": "Customer_ID", "Total Claim Amount": "Total_Claim_Amount", "Vehicle Class": "Vehicle_Class", "Policy Type": "Policy_Type", "ST": "State", "GENDER": "Gender", "Monthly Premium Auto": "Monthly_Premium_Auto"}, inplace = True)

seguros_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer_ID                1071 non-null   object
 1   State                      1071 non-null   object
 2   Gender                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer_Lifetime_Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly_Premium_Auto       1071 non-null   float64
 7   Number_of_Open_Complaints  1071 non-null   object
 8   Policy_Type                1071 non-null   object
 9   Vehicle_Class              1071 non-null   object
 10  Total_Claim_Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [7]:
# Your code here

seguros_data['Gender'] = seguros_data['Gender'].replace({'Female': 'F', 'Male': 'M', 'Femal': 'F', 'female': 'F', })

seguros_data['Gender'].value_counts()

Gender
F    502
M    452
Name: count, dtype: int64

In [8]:
seguros_data['State'] = seguros_data['State'].replace({'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'})

seguros_data['State'].value_counts()

State
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [9]:
seguros_data['Education'] = seguros_data['Education'].replace({'Bachelors': 'Bachelor'})

seguros_data['Education'].value_counts()

Education
Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: count, dtype: int64

In [10]:
seguros_data['Customer_Lifetime_Value'] = seguros_data['Customer_Lifetime_Value'].str.replace('%', '')

seguros_data['Customer_Lifetime_Value'].value_counts()

Customer_Lifetime_Value
445811.34     4
251459.20     4
272535.64     3
578018.22     3
684615.03     3
             ..
245357.08     1
507566.27     1
321497.94     1
1227534.31    1
899704.02     1
Name: count, Length: 1027, dtype: int64

In [11]:
seguros_data['Vehicle_Class'] = seguros_data['Vehicle_Class'].replace({'Luxury SUV': 'Luxury', 'Luxury SUV2': 'Luxury', 'Sports Car': 'Luxury'})

seguros_data['Vehicle_Class'].value_counts()

Vehicle_Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Luxury Car        91
Name: count, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [12]:
# Your code here

seguros_data['Customer_Lifetime_Value'] = pd.to_numeric(seguros_data['Customer_Lifetime_Value'], errors='coerce')
seguros_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer_ID                1071 non-null   object
 1   State                      1071 non-null   object
 2   Gender                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer_Lifetime_Value    1068 non-null   float64
 5   Income                     1071 non-null   float64
 6   Monthly_Premium_Auto       1071 non-null   float64
 7   Number_of_Open_Complaints  1071 non-null   object
 8   Policy_Type                1071 non-null   object
 9   Vehicle_Class              1071 non-null   object
 10  Total_Claim_Amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [13]:
seguros_data['Number_of_Open_Complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [14]:
seguros_data['Number_of_Open_Complaints'] = seguros_data['Number_of_Open_Complaints'].str.split('/').str[1]

seguros_data['Number_of_Open_Complaints'].value_counts()

Number_of_Open_Complaints
0    830
1    138
2     50
3     34
4     13
5      6
Name: count, dtype: int64

In [15]:
seguros_data['Number_of_Open_Complaints'] = pd.to_numeric(seguros_data['Number_of_Open_Complaints'], errors='coerce')

seguros_data['Number_of_Open_Complaints'].value_counts()

Number_of_Open_Complaints
0.0    830
1.0    138
2.0     50
3.0     34
4.0     13
5.0      6
Name: count, dtype: int64

In [16]:
print(seguros_data.columns)

Index(['Customer_ID', 'State', 'Gender', 'Education',
       'Customer_Lifetime_Value', 'Income', 'Monthly_Premium_Auto',
       'Number_of_Open_Complaints', 'Policy_Type', 'Vehicle_Class',
       'Total_Claim_Amount'],
      dtype='object')

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [17]:
null_columns = seguros_data.isnull().sum()

print(null_columns)

Customer_ID                  2937
State                        2937
Gender                       3054
Education                    2937
Customer_Lifetime_Value      2940
Income                       2937
Monthly_Premium_Auto         2937
Number_of_Open_Complaints    2937
Policy_Type                  2937
Vehicle_Class                2937
Total_Claim_Amount           2937
dtype: int64

In [18]:
seguros_data['Customer_Lifetime_Value'] = pd.to_numeric(seguros_data['Customer_Lifetime_Value'], errors='coerce')

seguros_data['Customer_Lifetime_Value'].value_counts()

Customer_Lifetime_Value
445811.34     4
251459.20     4
272535.64     3
578018.22     3
684615.03     3
             ..
245357.08     1
507566.27     1
321497.94     1
1227534.31    1
899704.02     1
Name: count, Length: 1027, dtype: int64

In [19]:
# Your code here

seguros_data['Customer_Lifetime_Value'] = seguros_data['Customer_Lifetime_Value'].fillna(seguros_data['Customer_Lifetime_Value'].median())

seguros_data['Customer_Lifetime_Value'].value_counts()

Customer_Lifetime_Value
588174.235     2940
445811.340        4
251459.200        4
2412750.400       3
684615.030        3
               ...
1210120.880       1
245357.080        1
507566.270        1
321497.940        1
899704.020        1
Name: count, Length: 1028, dtype: int64

In [20]:
seguros_data['Gender'] = seguros_data['Gender'].fillna(seguros_data['Gender'].mode()[0])

seguros_data['Gender'].value_counts()

Gender
F    3556
M     452
Name: count, dtype: int64

In [21]:
print(seguros_data.isnull().sum())

Customer_ID                  2937
State                        2937
Gender                          0
Education                    2937
Customer_Lifetime_Value         0
Income                       2937
Monthly_Premium_Auto         2937
Number_of_Open_Complaints    2937
Policy_Type                  2937
Vehicle_Class                2937
Total_Claim_Amount           2937
dtype: int64

In [22]:
numerical_columns = ['Income', 'Monthly_Premium_Auto', 'Total_Claim_Amount', 'Customer_Lifetime_Value']

seguros_data[numerical_columns] = seguros_data[numerical_columns].fillna(0).astype(int)

print(seguros_data.dtypes)

Customer_ID                   object
State                         object
Gender                        object
Education                     object
Customer_Lifetime_Value        int32
Income                         int32
Monthly_Premium_Auto           int32
Number_of_Open_Complaints    float64
Policy_Type                   object
Vehicle_Class                 object
Total_Claim_Amount             int32
dtype: object

In [23]:
# Your code here
print(seguros_data.columns)

Index(['Customer_ID', 'State', 'Gender', 'Education',
       'Customer_Lifetime_Value', 'Income', 'Monthly_Premium_Auto',
       'Number_of_Open_Complaints', 'Policy_Type', 'Vehicle_Class',
       'Total_Claim_Amount'],
      dtype='object')

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [8]:
# Your code here

duplicates = seguros_data.duplicated()

print(duplicates)

0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Length: 4008, dtype: bool

In [7]:
duplicates_sum = seguros_data.duplicated().sum()

print(duplicates_sum)

2936

In [9]:
seguros_data = seguros_data.drop_duplicates(keep = 'first')

seguros_data.reset_index(drop=True, inplace=True)

print(seguros_data.duplicated().value_counts())

False    1072
Name: count, dtype: int64

In [10]:
duplicates_sum = seguros_data.duplicated().sum()

print(duplicates_sum)

0

In [26]:
seguros_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer_ID                1071 non-null   object
 1   State                      1071 non-null   object
 2   Gender                     1072 non-null   object
 3   Education                  1071 non-null   object
 4   Customer_Lifetime_Value    1072 non-null   int32
 5   Income                     1072 non-null   int32
 6   Monthly_Premium_Auto       1072 non-null   int32
 7   Number_of_Open_Complaints  1071 non-null   float64
 8   Policy_Type                1071 non-null   object
 9   Vehicle_Class              1071 non-null   object
 10  Total_Claim_Amount         1072 non-null   int32
dtypes: float64(1), int32(4), object(6)
memory usage: 75.5+ KB

In [11]:
seguros_data.describe()

             Income  Monthly_Premium_Auto  Total_Claim_Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [66]:
print (seguros_data.columns)

Index(['Customer_ID', 'State', 'Gender', 'Education',
       'Customer_Lifetime_Value', 'Income', 'Monthly_Premium_Auto',
       'Number_of_Open_Complaints', 'Policy_Type', 'Vehicle_Class',
       'Total_Claim_Amount'],
      dtype='object')

In [70]:
seguros_data.columns

Index(['Customer_ID', 'State', 'Gender', 'Education',
       'Customer_Lifetime_Value', 'Income', 'Monthly_Premium_Auto',
       'Number_of_Open_Complaints', 'Policy_Type', 'Vehicle_Class',
       'Total_Claim_Amount'],
      dtype='object')

In [79]:
# Para recargar automáticamente los módulos cuando son modificados en Jupyter Notebook
%reload_ext autoreload
%autoreload 2

# Cargar las diferentes funciones de limpieza
from data_cleaning import clean_data

filepath ='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

# Llamar a la función principal para limpiar los datos
cleaned_data = clean_data(filepath)

# Ahora puedes continuar trabajando con cleaned_data
print(cleaned_data.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

c:\DAM\Ironhack\Laboratorios\lab-dw-data-cleaning-and-formatting\data_cleaning.py:21: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data = data.drop_duplicates(keep='first')

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [27]:
seguros_data.columns

Index(['Customer_ID', 'State', 'Gender', 'Education',
       'Customer_Lifetime_Value', 'Income', 'Monthly_Premium_Auto',
       'Number_of_Open_Complaints', 'Policy_Type', 'Vehicle_Class',
       'Total_Claim_Amount'],
      dtype='object')

In [28]:
# Your code here

print(seguros_data[['Total_Claim_Amount', 'Customer_Lifetime_Value']].describe())

       Total_Claim_Amount  Customer_Lifetime_Value
count         1072.000000             1.072000e+03
mean           404.151119             7.929229e+05
std            293.165478             6.423980e+05
min              0.000000             2.004350e+05
25%            201.000000             4.054045e+05
50%            352.500000             5.881740e+05
75%            532.000000             8.937668e+05
max           2893.000000             5.816655e+06

In [29]:
percentil_1 = seguros_data['Customer_Lifetime_Value'].quantile(0.75)

percentil_2 = seguros_data['Customer_Lifetime_Value'].quantile(0.25)

print(percentil_1)
print(percentil_2)

customer_of_interest = seguros_data[
    (seguros_data['Customer_Lifetime_Value'] > percentil_1) | 
    (seguros_data['Customer_Lifetime_Value'] < percentil_2)]

print(customer_of_interest)

summary_statistics = customer_of_interest[['Customer_Lifetime_Value', 'Total_Claim_Amount']].describe()

print(summary_statistics)

893766.75
405404.5
     Customer_ID       State Gender             Education  \
2        AI49188      Nevada      F              Bachelor
8        DY87989      Oregon      M              Bachelor
16       FV94802      Nevada      F  High School or Below
17       OE15005  California      F               College
20       ZK25313      Oregon      F  High School or Below
...          ...         ...    ...                   ...
1065     XD85577  California      M              Bachelor
1066     TM65736      Oregon      M                Master
1067     VJ51327  California      F  High School or Below
1068     GS98873     Arizona      F              Bachelor
1070     MY31220  California      F               College

      Customer_Lifetime_Value  Income  Monthly_Premium_Auto  \
2                     1288743   48767                   108
8                     2412750   14072                    71
16                     256686   25049                    67
17                     394524   28855                   101
20                     287205   57749                    74
...                       ...     ...                   ...
1065                   284226   69417                    73
1066                   305955   38644                    78
1067                  2031499   63209                   102
1068                   323912   16061                    88
1070                   899704   54230                   112

      Number_of_Open_Complaints     Policy_Type  Vehicle_Class  \
2                           0.0   Personal Auto   Two-Door Car
8                           0.0  Corporate Auto  Four-Door Car
16                          0.0   Personal Auto   Two-Door Car
17                          0.0   Personal Auto            SUV
20                          0.0   Personal Auto   Two-Door Car
...                         ...             ...            ...
1065                        1.0   Personal Auto  Four-Door Car
1066                        1.0   Personal Auto  Four-Door Car
1067                        2.0   Personal Auto            SUV
1068                        0.0   Personal Auto  Four-Door Car
1070                        0.0   Personal Auto   Two-Door Car

      Total_Claim_Amount
2                    566
8                    511
16                   454
17                   647
20                   355
...                  ...
1065                  30
1066                 361
1067                 207
1068                 633
1070                 537

[536 rows x 11 columns]
       Customer_Lifetime_Value  Total_Claim_Amount
count             5.360000e+02          536.000000
mean              9.597774e+05          407.587687
std               8.656793e+05          295.397005
min               2.004350e+05            0.000000
25%               2.744968e+05          187.750000
50%               6.498890e+05          357.500000
75%               1.337284e+06          540.250000
max               5.816655e+06         2027.000000

Guardamos el archivo limpio para el ejercicio siguiente.

In [30]:
seguros_data.to_csv('C:\DAM\Ironhack\Laboratorios\lab-dw-data-structuring-and-combining/seguros_data_clean.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Gema\AppData\Local\Temp\ipykernel_31084\694174461.py:1: SyntaxWarning: invalid escape sequence '\D'
  seguros_data.to_csv('C:\DAM\Ironhack\Laboratorios\lab-dw-data-structuring-and-combining/seguros_data_clean.csv', index=False)